* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #99a98f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: #fff8de;
  width: 320px;
  height: 480px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#stories {
  height: 110px;
  width: 100%;
  border-bottom: 2px solid #99a98f;
  padding: 16px 5px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#stories::-webkit-scrollbar {
  display: none;
}

.story {
  margin-right: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-screen-story {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: none;
}
